
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Pacifico&family=Poppins&family=Rubik&display=swap');

.navigation{
    padding:  0 30px;
    display: flex;
    font-family: rubik;
    justify-content: space-between;
    
}
ul li {
    margin-top: 10px;
    display: inline-block;
    padding: 0px 40px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
}

.leftNav{
    display: flex;
    align-items: center;
}
.rightNav {
    display: flex;
    align-items: center;
}
.logo{
    font-family: pacifico;
    font-size:24px;
}
.leftNav{
    display: flex;
    justify-content: space-between;
    
}
.icons{
    padding: 0 10px;
}
#logoName{
    color: rgb(0, 162, 255);
}
ul li a{
    position:relative;
}
ul li a::after{
    /* margin-left:46px; */
    content:'';
    height:3px;
    width:0;
    background:rgb(0, 162, 255);
    position: absolute;
    left:0;
    bottom:-10px;

}
ul li a:hover::after{
    width: 100%;
    transition: 0.7s;
}

.mySlide{
    display: none;
}

.slideshow-container{
    width: 500px;
    position: relative;
    margin: auto;
}

#img{
    vertical-align: middle;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    background-color:grey;
    transition: background-color 0.6s ease;
}

.active{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
